{
  "openapi": "3.0.4",
  "info": {
    "title": "Curasev API",
    "description": "Curasev Web Application API",
    "contact": {
      "name": "P4 Technologies Group",
      "url": "https://curasev.com",
      "email": ""
    },
    "license": {
      "name": "Curasev License",
      "url": "https://curasev.com"
    },
    "version": "v1.0"
  },
  "servers": [
    {
      "url": "http://api.curasev.com"
    }
  ],
  "paths": {
    "/api/v1/AbilityCSI/save": {
      "post": {
        "tags": [
          "AbilityCSIDetail"
        ],
        "summary": "save AbilityCSIDetail in a system.",
        "description": "Sample request:\r\n            \r\n    HttpPost\r\n    \r\nSample response:\r\n\r\n    {\r\n        \"code\": \"200\",\r\n        \"status\": \"OK\",\r\n        \"message\": \"\",\r\n        \"data\": {\r\n        }\r\n    }",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AbilityCSI.Models.AbilityCSIDetailModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AbilityCSI.Models.AbilityCSIDetailModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AbilityCSI.Models.AbilityCSIDetailModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AbilityCSI.Models.AbilityCSIDetailModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/AbilityCSI/init-save": {
      "post": {
        "tags": [
          "AbilityCSIDetail"
        ],
        "summary": "save AbilityCSIDetail in a system.",
        "description": "Sample request:\r\n            \r\n    HttpPost\r\n    \r\nSample response:\r\n\r\n    {\r\n        \"code\": \"200\",\r\n        \"status\": \"OK\",\r\n        \"message\": \"\",\r\n        \"data\": {\r\n        }\r\n    }",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AbilityCSI.Models.AbilityCSIDetailModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AbilityCSI.Models.AbilityCSIDetailModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AbilityCSI.Models.AbilityCSIDetailModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AbilityCSI.Models.AbilityCSIDetailModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/AbilityCSI/get-ability-cmn-details": {
      "post": {
        "tags": [
          "AbilityCSIDetail"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AbilityCSI.Models.AbilityCMNDetail"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AbilityCSI.Models.AbilityCMNDetail"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AbilityCSI.Models.AbilityCMNDetail"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AbilityCSI.Models.AbilityCMNDetail"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/AbilityCSI/delete-ability-claim/{claimId}": {
      "delete": {
        "tags": [
          "AbilityCSIDetail"
        ],
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/AbilityCSI/get-ability-claim-history": {
      "post": {
        "tags": [
          "AbilityCSIDetail"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AbilityCSI.Models.AbilityCMNDetail"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AbilityCSI.Models.AbilityCMNDetail"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AbilityCSI.Models.AbilityCMNDetail"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AbilityCSI.Models.AbilityCMNDetail"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/AbilityCSI/ability-password-change": {
      "post": {
        "tags": [
          "AbilityCSIDetail"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AbilityCSI.Models.AbilityCMNDetail"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AbilityCSI.Models.AbilityCMNDetail"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AbilityCSI.Models.AbilityCMNDetail"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AbilityCSI.Models.AbilityCMNDetail"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/AbilityCSI/ability-generate-password": {
      "get": {
        "tags": [
          "AbilityCSIDetail"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/abn": {
      "get": {
        "tags": [
          "ABNGeneral"
        ],
        "summary": "get abn list.",
        "description": "Sample request:\r\n            \r\n    HttpGet\r\n    \r\nSample response:\r\n    {\r\n        \"code\": \"200\",\r\n        \"status\": \"OK\",\r\n        \"message\": \"\",\r\n        \"data\": {\r\n        }\r\n    }",
        "parameters": [
          {
            "name": "ABNProductIdExp",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ABNProductIdValue",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SalesOrderIdExp",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SalesOrderIdValue",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PatientNameIdExp",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PatientNameIdValue",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DoctorNameIdExp",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DoctorNameIdValue",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ABNStatusExp",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ABNStatusValue",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LoggedByNameExp",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LoggedByNameValue",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LoggedOnExp",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LoggedOnValue",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InitialDateExp",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "InitialNameValue",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SortColumn",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SortOrder",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "AdjustmentGroupTypeId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "DriverId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/abn/{abnId}": {
      "delete": {
        "tags": [
          "ABNGeneral"
        ],
        "summary": "delete ABN by abnId in a system.",
        "description": "Sample request:\r\n            \r\n    HttpDelete \r\n    \r\nSample response:\r\n\r\n    {\r\n        \"code\": \"200\",\r\n        \"status\": \"ok\",\r\n        \"message\": \"\",\r\n        \"data\": {\r\n        }\r\n    }",
        "parameters": [
          {
            "name": "abnId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/abn/general/{abnProductId}": {
      "get": {
        "tags": [
          "ABNGeneral"
        ],
        "summary": "get abn genral Info by abnProductId.",
        "description": "Sample request:\r\n            \r\n    HttpGet {abnProductId}\r\n    \r\nSample response:\r\n\r\n    {\r\n        \"code\": \"200\",\r\n        \"status\": \"OK\",\r\n        \"message\": \"\",\r\n        \"data\": {\r\n        }\r\n    }",
        "parameters": [
          {
            "name": "abnProductId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/abn/logabn": {
      "post": {
        "tags": [
          "ABNGeneral"
        ],
        "summary": "save sales order general in a system",
        "description": "Sample request:\r\n            \r\n    HttpPost \r\n    \r\nSample response:\r\n\r\n    {\r\n        \"code\": \"200\",\r\n        \"status\": \"ok\",\r\n        \"message\": \"\",\r\n        \"data\": {\r\n        }\r\n    }",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.ABN.Models.ABNModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.ABN.Models.ABNModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.ABN.Models.ABNModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.ABN.Models.ABNModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/abn/general/update": {
      "post": {
        "tags": [
          "ABNGeneral"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.ABN.Models.ABNModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.ABN.Models.ABNModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.ABN.Models.ABNModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.ABN.Models.ABNModel"
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/abn/ABNPrint": {
      "post": {
        "tags": [
          "ABNGeneral"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.ABN.Models.PrintABNModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.ABN.Models.PrintABNModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.ABN.Models.PrintABNModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.ABN.Models.PrintABNModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/abn/products/get-abn-products-by-abnId/{abnId}": {
      "get": {
        "tags": [
          "ABNProduct"
        ],
        "summary": "get abn product by abnId in a system.",
        "description": "Sample request:\r\n            \r\n    HttpDelete \r\n    \r\nSample response:\r\n\r\n    {\r\n        \"code\": \"200\",\r\n        \"status\": \"ok\",\r\n        \"message\": \"\",\r\n        \"data\": {\r\n        }\r\n    }",
        "parameters": [
          {
            "name": "abnId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/abn/products/{abnProductId}": {
      "delete": {
        "tags": [
          "ABNProduct"
        ],
        "summary": "delete ABN Product by abnProductId in a system.",
        "description": "Sample request:\r\n            \r\n    HttpDelete \r\n    \r\nSample response:\r\n\r\n    {\r\n        \"code\": \"200\",\r\n        \"status\": \"ok\",\r\n        \"message\": \"\",\r\n        \"data\": {\r\n        }\r\n    }",
        "parameters": [
          {
            "name": "abnProductId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/access-claim/create-claim": {
      "post": {
        "tags": [
          "AccessClaim"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.PostClaimModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.PostClaimModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.PostClaimModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.PostClaimModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/access-claim/get-list/{invoiceBatchId}/{offset}/{limit}": {
      "get": {
        "tags": [
          "AccessClaim"
        ],
        "parameters": [
          {
            "name": "invoiceBatchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/access-claim/get/{invoiceBatchId}/{claimID}": {
      "get": {
        "tags": [
          "AccessClaim"
        ],
        "parameters": [
          {
            "name": "invoiceBatchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "claimID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/access-claim/get-claim-change/{invoiceBatchId}/{claimID}": {
      "get": {
        "tags": [
          "AccessClaim"
        ],
        "parameters": [
          {
            "name": "invoiceBatchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "claimID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/access-claim/update": {
      "put": {
        "tags": [
          "AccessClaim"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.UpdateClaimModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.UpdateClaimModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.UpdateClaimModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.UpdateClaimModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/access-claim/delete/{invoiceBatchId}/{claimID}": {
      "delete": {
        "tags": [
          "AccessClaim"
        ],
        "parameters": [
          {
            "name": "invoiceBatchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "claimID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/access-claim/validate": {
      "put": {
        "tags": [
          "AccessClaim"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.ValidateClaimModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.ValidateClaimModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.ValidateClaimModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.ValidateClaimModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/access-claim/events": {
      "get": {
        "tags": [
          "AccessClaim"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.UpdateClaimModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.UpdateClaimModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.UpdateClaimModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.UpdateClaimModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/access-claim/print-form": {
      "post": {
        "tags": [
          "AccessClaim"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.Invoices.Models.InvoiceAbilityModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.Invoices.Models.InvoiceAbilityModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.Invoices.Models.InvoiceAbilityModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.Invoices.Models.InvoiceAbilityModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/access-claim/secondary": {
      "post": {
        "tags": [
          "AccessClaim"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.UpdateClaimModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.UpdateClaimModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.UpdateClaimModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.UpdateClaimModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/access-claim/update-batch-status": {
      "post": {
        "tags": [
          "AccessClaim"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.PostClaimModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.PostClaimModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.PostClaimModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.PostClaimModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/access-claim/batch": {
      "post": {
        "tags": [
          "AccessClaim"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.PostClaimModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.PostClaimModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.PostClaimModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.AccessClaim.Models.PostClaimModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseOk"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnauthorizeAccess"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseUnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAPI.Models.ResponseException"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/access-claim/upload-form": {
      "post": {
        "tags": [
          "AccessClaim"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.Invoices.Models.InvoiceAbilityModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.Invoices.Models.InvoiceAbilityModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebAPI.Areas.Invoices.Models.InvoiceAbilityModel"
              }
            },
            "application/*+json": {
              "schema": {
[...]
